// Colors

$black: #000;
$background-black: #0A0B0B;
$white: #FFF;
$background-secondary: #393B3C;
$success: #308E21;
$btn-color: #6A5DC2;
$hover-line: #DC5DFC;
$hover-btn-color: #8577E1;
$content-active: #B4A9FF;
$error: #FF7575;
$gold: #A59400;
$grey: #777777;
$red: #C82020; 

// Breakpoints

$extraLarge: 1439px;
$large: 1199px;
$middle: 991px;
$small: 767px;
$verySmall: 575px;

// Default Fonts

$defaultFonts: "Play";